body, html {
    margin: 0;
    height: 100%;
  }

  .landing-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.5s ease-in-out, filter 0.5s ease-in-out;
    position: relative;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%); /* black & white default */
  }
  
  .section:hover {
    flex: 1.2;
    filter: grayscale(0%); /* show color */
  }
  
  .section-text {
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    display: none;
  }
  
  .section:hover .section-text {
    display: inline-block;
    animation: typing 2s steps(20, end) forwards, blink 0.6s infinite;
  }

  
  /* Buttons */
  .button-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
  }
  
  .btn {
    padding: 12px 28px;
    border: 2px solid black;
    border-radius: 30px;
    background: transparent;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background: black;
    color: white;
  }
  a{
    text-decoration: none;
  }
  